@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 28px;
}

.slide-bg-1 {
	background-image: url(assets/img/slide-bg-1.jpg);
}

.slide-bg-2 {
	background-image: url(assets/img/slide-bg-2.jpg);
}

.service-bg-1 {
	background-image: url(assets/img/service-bg-1.jpg);
}

.service-bg-2 {
	background-image: url(assets/img/service-bg-2.jpg);
}

.project-bg-1 {
	background-image: url(assets/img/boxed-bg-1.jpg);
	background-size: cover;
}

.project-bg-2 {
	background-image: url(assets/img/boxed-bg-3.jpg);
	background-size: cover;
}

.project-bg-3 {
	background-image: url(assets/img/boxed-bg-2.jpg);
	background-size: cover;
}

.blog-bg-1 {
	background-image: url(assets/img/blog-bg-1.jpg);
	background-size: cover;
	background-position: center;
}

.team-bg-1 {
	background-image: url(assets/img/team-bg-1.jpg);
}

.team-bg-2 {
	background-image: url(assets/img/team-bg-2.jpg);
}

img {
	max-width: 100%;
}

a {
	transition: .3s;
}

.factorian-btn {
	display: inline-block;
	background-color: #f7be49;
	color: #222;
	padding: 12px 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border-radius: 3px;
}

.factorian-btn:hover {
	text-decoration: none;
	background: #333;
	color: #fff;
}

/* Header */
.header-top-area {
	background: #222;
	color: #fff;
	font-size: 15px;
	padding: 10px 0;
}

.header-top-area a {
	color: #fff;
}

.header-top-area a:hover {
	text-decoration: none;
	opacity: .7;
}

.header-top-area i.fa {
	color: #f7be49;
}

.seprator {
	color: #949494;
	display: inline-block;
	padding: 0 10px;
}

.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.mainmenu li {
	position: relative;
	display: inline-block;
}

.mainmenu li a {
	display: block;
	color: #222;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 30px 20px;
}

.mainmenu li:hover > a {
	background: #f4f4f4;
	text-decoration: none;
}

.logo {
	text-transform: uppercase;
	padding: 12px 0;
}

.logo a {
	color: #494949;
}

.logo a:hover {
	opacity: .8;
}

.logo h1 {
	margin: 10px 0;
	font-size: 16px;
	display: inline-block;
	border: 3px solid #494949; 
	padding: 10px 15px;
}

.header-search-bar {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

/* Slide */
.single-slide-item {
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	height: 590px;
	font-size: 24px;
	color: #fff;
}

.single-slide-item h2 {
	font-size: 60px;
	margin: 0 0 30px;
}

.homepage-slides .owl-buttons div {
	position: absolute;
	left: 50px;
	top: 50%;
	border: 2px solid #fff;
	color: #fff;
	font-size: 19px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: -20px;
	opacity: .8;  
}

.homepage-slides .owl-buttons div.owl-next {
	left: auto;
	right: 50px;
}

.slide-btn {
	margin-top: 20px;
}

.slide-item-table {
	display: table;
	height: 100%;
	width: 100%;
}

.slide-item-tablecell {
	display: table-cell;
	vertical-align: middle;
}

/* Factorian Content Block */
.factorian-content-block {
	padding: 100px 0;
}

.service-item-bg {
	height: 180px;
	background-size: cover;
	background-position: center;
	background-color: #ddd;
}

.single-service-item h3 {
	font-weight: 700;
	font-size: 22px;
}

.service-readmore-btn {
	font-weight: 700;
	color: #222;
}

.service-readmore-btn:hover {
	text-decoration: none;
	color: #f7be49;
}

.service-readmore-btn i.fa {
	padding-left: 5px;	
	transition: .3s;
}

.service-readmore-btn:hover i.fa {
	padding-left: 10px;
}

.single-small-service-item {
	display: block;
	color: #222;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 25px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 23px;
}

.single-small-service-item img {
	float: left;
	margin-right: 15px;
}

.single-small-service-item h4 {
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 5px;
}

.single-small-service-item p:last-child {
	margin: 0;
}

.single-small-service-item:hover {
	text-decoration: none;
	color: #222;
	opacity: .8;
}

/* Factorian Cta */
.factorian-cta-area {
	background: #222222;
	color: #fff;
	padding: 40px 0;
}

.factorian-cta-area h2 {
	margin: 9px 0;
}

/* Who we are */
.who-we-are-text {
	padding: 0 40px;
}

.single-promo-item {
	position: relative;
	padding-left: 45px;
	margin-top: 70px;
}

.single-promo-item i.fa {
	position: absolute;
	left: 0;
	top: 0;
	color: #f7be49;
	height: 25px;
	width: 25px;
	border: 1px solid #f7be49;
	text-align: center;
	line-height: 25px;
	border-radius: 50%;
}

/* Section gray */
.section-gray {
	background-color: #f2f5f7;
}

.check-list {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 30px;
	font-weight: 500;
	margin-top: 20px;
}

.check-list li:before {
	content: "\f00c";
	font-family: fontawesome;
	color: #f7be49;
	padding-right: 9px;
}

.section-title {
	max-width: 415px;
	text-align: center;
	line-height: 40px;
	margin: 0 auto 50px;
}

.section-title h3 {
	margin: 0;
	line-height: 30px;
}

.single-boxed-item {
	color: #6e6e6e;
	display: block;
	margin-bottom: 30px;
}

.single-boxed-item:hover {
	text-decoration: none;
	opacity: .8;
	color: #6e6e6e;
}

.single-boxed-item h4 {
	font-weight: 700;
	color: #222;
	margin: 0 0 10px;
}

.boxed-preview {
	height: 180px;
	margin-bottom: 20px;
}

/* Testimonial */
.testimonial-area {
	border-top: 1px solid #ddd;
	padding: 80px 0;
}

.single-testimonial-item {
	color: #666;
	margin-bottom: 30px;
}

.testimonial-content {
	font-style: italic;
}

.testimonial-content i.fa {
	font-size: 150%;
	margin-right: 10px;
}

.single-testimonial-item h4 {
	font-size: 16px;
	margin: 0;
	margin-top: 20px;
}

.single-testimonial-item h4 span {
	font-size: 14px;
	font-weight: normal;
	display: block;
	margin-top: 10px;
}

/* Footer */
.footer-top-area {
	background-color: #222222;
}

.footer-top-area, .footer-top-area a {
	color: #cacaca;
}

.footer-wid {
	padding: 80px 0;
}

.footer-logo {
	margin: 0 0 20px;
	background: #fff;
	display: inline-block;
	padding: 10px 30px;
	font-size: 16px;
	text-transform: uppercase;
	color: #222;
}

.footer-wid-title {
	color: #fff;
	font-size: 18px;
	margin: 0 0 20px;
}

.footer-wid ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-wid ul li:hover > a {
	color: #f7be49;
}

.copyright-area {
	background: #000;
	color: #fff;
	padding: 20px 0;
}

/* About Page */
/* Bread Croumb */
.factorian-breadcroumb {
	padding: 40px 0;
	font-size: 13px;
	color: #666;
}

.factorian-breadcroumb h2 {
	margin: 0 0 5px;
	color: #222;
}

.factorian-breadcroumb h3 {
	margin: 20px 0;
	color: #222;
}

.spacer-85 {
	height: 85px;
}

.border-spacer-85 {
	border-bottom: 1px solid #eaeef1;
	margin-top: 65px;
	margin-bottom: 65px;
}

.single-team-item {
	height: 355px;
	width: 33.33333%;
	float: left;
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	overflow: hidden;
}

.single-team-item:hover > .team-info-hover {
	bottom: 0;
	z-index: 9;
	opacity: 1;
	visibility: visible;
}


.team-info-hover {
	position: absolute;
	left: 0;
	bottom: -30px;
	width: 100%;
	color: #fff;
	font-size: 14px;
	padding: 15px;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transition: .2s;
	padding-top: 50px;
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.79) 53%, rgba(0,0,0,1) 66%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.79) 53%, rgba(0,0,0,1) 66%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.79) 53%, rgba(0,0,0,1) 66%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.team-info-hover h3 {
	font-size: 22px;
	margin: 0 0 5px;
}

/* Single Service */
.factorian-service-breadcroumb {
	padding: 40px 0;
}

.factorian-service-breadcroumb h3 {
	margin: 0 0 10px;
}

.gallery-lightbox {
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.gallery-lightbox i.fa {
	position: absolute;
	left: 50%;
	top: 60%;
	color: #fff;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: .3;
}

.gallery-lightbox:hover i.fa {
	opacity: 1;
	visibility: visible;
	z-index: 2;
	top: 50%;
}

.gallery-lightbox::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: #000;
	opacity: 0;
	visibility: hidden;
	z-index: -2;
	transition: .2;
}

.gallery-lightbox:hover::after {
	opacity: .4;
	visibility: visible;
	z-index: 1;
}

.single-step-item {
	position: relative;
	padding-left: 55px;
	margin-top: 35px; 
}

.single-step-item span.step-count {
	position: absolute;
	height: 36px;
	width: 36px;
	border: 2px solid;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 31px;
	left: 0;
	top: 0;
}

.single-step-item h3 {
	text-transform: uppercase;
	margin: 0 0 10px;
}

.single-step-item p:last-child {
	margin: 0;
}

.quote-title {
	text-align: center;
	background-color: #505050;
	color: #fff;
	padding: 20px;
}

.quote-title h3 {
	margin: 0 0 5px;
}

.get-quote-form {
	box-shadow: 0 0 7px #ccc;
	padding: 30px;
}

.get-quote-form label {
	font-weight: 500;
	display: block;
}

.get-quote-form input[type="text"], .get-quote-form input[type="email"], .get-quote-form input[type="tel"], .get-quote-form textarea {
	border: 1px solid #ddd;
	width: 100%;
	padding: 7px;
	margin-bottom: 15px;
} 

.get-quote-form textarea {
	height: 100px;
	max-width: 100%;
}

input[type="submit"] {
	background-color: #f7be49;
	text-transform: uppercase;
	border: none;
	padding: 10px 30px;
	font-weight: 700;
	font-size: 13px;
}

.get-quote-form input[type="submit"] {
	border-bottom: 4px solid #d6a137;
	border-radius: 3px;
	color: #fff;
}

.spacer-45 {
	height: 45px;
}

/* Contact */
.question-title {
	margin-top: 0;
}

img.contact-banner {
	margin: 30px 0 10px;
}

.contact-heading {
	text-transform: uppercase;
	color: #9b9b9b;
	margin-top: 20px;
}

.bigger-text-link {
	color: #222;
	font-size: 24px;
	line-height: 30px;
}

/* Preloader */
.spinner-2 {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout2 1.0s infinite ease-in-out;
  animation: sk-scaleout2 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout2 {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout2 {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.factorian-site-preloader-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 999;
}

.factorian-site-preloader-wrap .spinner-2 {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	margin-left: -20px;
	margin-top: -20px;
}

/* Sub Menu */
.mainmenu li ul {
	position: absolute;
	left: 0;
	top: 108px;
	width: 200px;
	background: #fff;
	z-index: 99;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: .3s;
}

.mainmenu li:hover ul {
	top: 88px;
	visibility: visible;
	opacity: 1;
	z-index: 99;
}

.mainmenu li ul li {
	display: block;
}

.mainmenu li ul li a {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: none;
}

.responsive-menu-wrap {
	display: none;
}
