/* Medium Layout: 1280px */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
	.header-top-area {
		font-size: 13px;
	}

	.single-slide-item h2 {
		font-size: 50px;
	}
}

/* Tablet Layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-top-area, .header-top-area .text-right, .logo, .mainmenu ul, .single-slide-item, .single-slide-item h2, .factorian-cta-area, .factorian-cta-area .text-right {
		text-align: center;
	}

	.mainmenu ul li a {
		padding: 10px 20px;
	}

	.mainmenu ul li ul {
		top: 80px;
	}

	.mainmenu ul li:hover ul {
		top: 48px;
	}

	.single-slide-item {
		font-size: 17px;  
	}

	.single-slide-item h2 {
		font-size: 40px;
	}

	.factorian-cta-area .cta-btn {
		margin-top: 15px;
	}

	.who-we-are-text {
		padding: 20px 0;
	}

	.padding-left-30 {
		margin-top: 30px;
	}

	.footer-top-area {
		padding-bottom: 50px;
	}

	.footer-wid {
		padding-bottom: 0;
		padding-top: 50px;
	}
}

/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
	.header-top-area, .header-top-area .text-right, .single-slide-item, .single-slide-item h2, .factorian-cta-area, .factorian-cta-area .text-right {
		text-align: center;
	}

	.header-top-area {
		font-size: 12px;
	}

	.mainmenu-area {
		position: relative;
		z-index: 9;
	}

	.mainmenu {
		display: none;
	}

	.logo {
		text-align: left;
	}

	.responsive-menu-wrap {
		display: block;
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -16px;
	}

	.responsive-menu-wrap .slicknav_menu {
		background: none;
		margin: 0;
		padding: 0;
	}

	.slicknav_nav {
		width: 200px;
		background: #333;
		border-radius: 2px;
	}

	.slicknav_btn {
		margin: 0;
	}

	.single-slide-item {
		font-size: 15px;  
		height: 450px;
	}

	.single-slide-item h2 {
		font-size: 30px;
	}

	.homepage-slides .owl-buttons {
		text-align: center;
		margin-top: 5px;
	}

	.homepage-slides .owl-buttons div.owl-next {
		left: auto;
		right: auto; 
	}

	.homepage-slides .owl-buttons div {
		position: relative;
		display: inline-block;
		margin: 0;
		color: #333;
		border: 2px solid #333;
		left: auto;
		right: auto;
		margin: 10px;
	}

	.single-service-item {
		margin-bottom: 50px;
	}

	.factorian-cta-area .cta-btn {
		margin-top: 15px;
	}

	.who-we-are-text {
		padding: 20px 0;
	}

	.padding-left-30 {
		margin-top: 30px;
	}

	.footer-top-area {
		padding-bottom: 50px;
	}

	.footer-wid {
		padding-bottom: 0;
		padding-top: 50px;
	}
}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
